@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

.card {
  background-color: #de1c85 !important;
  min-height: 500px;
  margin: 10px;
  box-shadow: 5px 5px 5px #de1c85;

  &-body {
    display: flex;
    align-items: flex-end;
    height: max-content;
  }
  &-text {
    padding: 10px;
    text-align: end;
    color: rgb(179, 210, 250) !important;
  }
  &-title {
    color: rgb(211, 204, 204) !important;
  }
}
.list-group-item {
  background-color: rgb(144, 144, 144, 0.5) !important;
}

.modal {
  background-color: #de1c85;
}