.cart {
  display: flex;
  justify-content: space-between;
 
  border-radius: 5px;
  color: #de1c85;
  &-text {
    width: 60%;
    margin: 10px;
  }
  &-img {
    width: 15%;
    height: max-content;
    margin-bottom: 10px;
  }
  &-close {
    margin: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  &-body {
    background: url("https://cdn.shopify.com/s/files/1/1143/5434/products/Wallshoppe_Drop_Shadow_Barbie_Wallpaper_by_Barbie__Bubblegum_Design_b5057966-c10d-492b-815a-48dd8a57a323_1200x1200.jpg?v=1616553208");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  border-bottom: 2px solid #ccc;
}
