.favourites {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  &-text {
    width: 60%;
    margin: 10px;
    color: rgb(233, 255, 92);
  }
  &-img {
    width: 15%;
    height: max-content;
    margin-bottom: 10px;
  }
  &-close {
    color: rgb(146, 146, 0);

    &:hover {
      cursor: pointer;
    }
  }
  &-body {
    background: url("https://cdn.shopify.com/s/files/1/1143/5434/products/Wallshoppe_Drop_Shadow_Barbie_Wallpaper_by_Barbie__Bubblegum_Design_b5057966-c10d-492b-815a-48dd8a57a323_1200x1200.jpg?v=1616553208")
      no-repeat;
    background-size: cover;
    background-position: center;
  }
  border-bottom: 2px solid #ccc;
}
